---
// footer
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <div class="contacto">
      <h4>Contacto</h4>
      <p>Telefono</p>
      <p>Direccion</p>
      <p>Correo</p>
    </div>
    <div class="sello"></div>
    <div class="redes_sociales">
      <p>Siguenos en </p>
      <a href=""></a><a href=""></a><a href=""></a>
    </div>
  </div>
  <div class="reservado">Footer creado en {year}</div>
</footer>
