---
// src/components/Hero.astro
import ImageCarousel from '../components/Carrusel';

const images = [
  "./pepe1.jpg",
  "./pepe2.jpg",
  "./pepe3.jpg",
  "./pepe4.jpg",
  "./pepe5.jpg",
  "./pepe6.jpg",
];
---

<section class="hero-section w-full max-w-none p-0 m-0">
<ImageCarousel images={images} client:load />

</section>

